<!DOCTYPE html>
<html>
<head>
  <title>Sports Page</title>
</head>
<body>
<h1>You Got Sports Volunteering!</h1>
<img src=https://media.giphy.com/media/QsOrQdfBA7FrG/giphy.gif>
<h2>Miracle League</h2>
<p>Spend some time teaching special needs kids how to play baseball. It not only inriches their day but yours as well! No prior baseball experience necessary.</p>
<a herf=http://miracleleagueofthetriangle.com/>Visit Miracle League!</a>
</bady>
</html>

